.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
/phpstan.neon
/phpunit.xml
static-php-cli/
hyperf.phar
phpstan.neon.dist
phpunit.xml.dist
buildroot/
.php-cs-fixer.php
.phpstorm.meta.php
source/
.devcontainer
